

body{
	font-family: "Raleway", sans-serif;
	background-color: #66ccff;/*celeste*/
}

.wrapper{
	padding:15px;
	padding-bottom: 250px;
	border: solid 5px;
	max-width: 2000px;
	max-height: 2000px;
	margin-bottom: 250px;
}


header {
	box-sizing:	border-box;
	max-width: 1200px;
	/*background-color: green;*/
	top: 0;
	left: 50;
	right: 0;
	padding: 15px;
	margin: 0 auto;
}


.Perfil{
	text-align: left;
	/*background-color: red;*/
	width: 20%;
	float:left;
	padding: 0 25px;
	position: relative;
}


.Habilidades{
	margin-top: 300px;
}

.Habilidades article{
	text-align: left;
	/*background-color: yellow;*/
	width: 20%;
	float:left;
	padding: 0 25px;
	position: relative;
	
}

.Estudios{
	margin-top: 300px;
}

.Estudios article{
	text-align: center;
	width: 25%;
	float:left;
	padding: 0 25px;
	position: relative;
}

.Contacto{
	margin-top: 50px;
}

.Contacto article{
	text-align: center;
	width: 25%;
	float:left;
	padding: 0 25px;
	position: relative;
}

.buscador{
	margin-top: 50px;
	max-width: 50px;
}


.comentarios{
	margin-top: 0px;
	max-width: -50px;
	float:right;
}

.Enviar{
	margin-top: 180px;
	max-width: 80px;
	float:right;
}






/*------------------*/


@media (max-width: 860px){	/*para moviles y tablets. desde acá, hacia abajo*/
	.wrapper{
		width: 96%;
	}

	header {
		float: none;
		display: inline-block;
		margin-left: 18%;
	}
}

@media (max-width: 700px){

	header {
		position: static;
		background-color: #fff;
		text-align: center;
		}
}

@media (max-width: 480px){

	header {
		position: static;
		background-color: red;
		text-align: center;
		}

}

